
.body{
    margin-top: 5rem;
    color: #333333;
    background: #ebe9e9;
}

h1, h2, h3, h4, h5, h6{
    color: #444444;
}

main .row{
    margin: 50px 50px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.bg-steel{
    background-color: #1b2d92;
}

.site-header .navbar-nav .nav-link{
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover{
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active{
    font-weight: 500;
}

.account-img{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.article-img{
    height: 65px;
    width: 65px;
    margin-right: 16px;  
}



.article-metadata{
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-svg{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.content-section{
    margin-top: 50px;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
}
